html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
}

#title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

#title + * {
  margin-top: 100px;
}